.logo{
  display: block;
  margin: auto;
  max-height: 170px;
  position: relative;
  top: 300px;
/*  left: 925px; */
}

.form-position{
  display: block;
  margin: auto;
  position: static;


}
.search-bar{

  width: 40%;
  height: 60px;
  padding: 20px 20px;
  margin: 8px 0;
  top: 580px;
  left: 708px;
  box-sizing: border-box;
  position: relative;
  border-color: rgba(4, 4, 4, 0.18);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1000px-Google_mic.svg.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 97% 44%;
  font-size: 20px;

}

.buttons{
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  top: 706px;
  left: 1012px;
}
.search-buttons{

  margin: auto;
  padding: 10px 15px;
  background-color: rgba(191, 191, 191, 0.37);
  text-decoration: none;
  text-align: center;
  color: rgba(76, 76, 76, 0.61);
  border-radius: 4.0px
}
.search-buttons:hover{
  color:black;
  border: 0.5px solid rgba(191,191,191,0.37);
  }
